[DEFAULT]
ConnectionType=initiator
ReconnectInterval=5
#FileStorePath=store
StoreClass=quickfix.MemoryStore
FileStorePath=
FileLogPath=log
StartTime=00:00:00
EndTime=23:59:59
UseDataDictionary=Y
BeginString=FIXT.1.1
DefaultApplVerID=FIX.5.0SP2
SocketConnectHost=uat.truex.co
SocketConnectPort=19484
HeartBtInt=30
TransportDataDictionary=TrueX_FIXT11.xml
AppDataDictionary=TrueX_FIX50SP2.xml

[SESSION]
SenderCompID=CLIENT_UAT
TargetCompID=TRUEX_UAT_GW
